<div class="col-md-12 randome-area" ui-sref="beerDetail({id:$ctrl.randomeBeer.data.id})">
        <div class="col-md-12 title">{{$ctrl.randomeBeer.data.nameDisplay}}</div>
        <div class="col-md-2"><img class="img-responsive" src="{{$ctrl.randomeBeer.data.labels.medium}}"/></div>
        
            <div class="col-md-8 randome-area-desc">{{$ctrl.randomeBeer.data.description}}</div>
            <div class="col-md-2">
                <button class="button col-md-12" ng-click="$event.preventDefault(); $event.stopPropagation();$ctrl.getAnotherBeer();">Another Beer</button>
                <button class="button col-md-12" ng-click="$event.preventDefault(); $event.stopPropagation();$ctrl.getBreweryBeers();">More from this Brewery</button>
            </div>
    </div>