<div class="col-md-12 randome-area" ui-sref="beerDetail({id:$ctrl.randomeBeer.data.id})">
        <div class="col-md-12 title">{{$ctrl.randomeBeer.data.nameDisplay}}</div>
        <div class="col-md-2"><img class="img-responsive" src="{{$ctrl.randomeBeer.data.labels.medium}}"/></div>
        
            <div class="col-md-10 randome-area-desc">{{$ctrl.randomeBeer.data.description}}</div>
            <div class="col-md-4 col-md-offset-8">
                <div class="col-md-6"><button  class="button  pull-right" ng-click="$event.preventDefault(); $event.stopPropagation();$ctrl.getAnotherBeer();">Another Beer</button></div>
                <div class="col-md-6"> <button class="button pull-right">More from this Brewery</button></div>
            </div>
    </div>