/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 27-Apr-2017, 17:37:29
    Author     : Engy
*/
@import "modules/all";
@import "partials/reset";
.area{ border:1px solid $border-color;
       @include border-radius(4px);
       margin: 10px 0;
       padding: 10px;
       @include box-shadow(0px, 0px, 9px, 1px, #999);}

.right{float:right !important}

.button{
    @include border-radius(4px);
    background-color: $button-color;
    margin: 10px 0;
    color:#fff;
    font-size: 14px;
    font-weight: bold;}

.title{
    color:$subtitle-color;
    padding-bottom: 5px;
    font-size:18px;
    font-weight:bold;}

.subtitle{
    @extend .title;
    font-size: 14px;}

header{
    background:$theme-color;
    color:$title-color;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    margin-bottom:20px;}

.randome-area{
    @extend .area;
    cursor: pointer;}

.randome-area-desc{margin-top: 10px;}
.home-search-area{ padding-top: 10px; }
.search-fields{padding-bottom: 20px;}

.home-search-result{
    border-bottom: 1px solid $border-color;
    padding:10px;
    cursor: pointer;
    &:first-child{
        border-top:1px solid $border-color;
    }
}
.home-brewery-result{
    @extend .home-search-result;
    cursor: default;}

.search-field{margin-bottom: 10px;}
.search-fields-radio{ border:1px solid $border-color;}

.search-result-desc{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-height: 16px;     
    max-height: 50px;      
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;}

.detail-page-data-section{padding-top: 25px;}