<div class="container">

    <home-randome-area randome-beer="HomeCtrl.randomeBeer" brewery-beers="HomeCtrl.breweryBeers" show-search-result="HomeCtrl.showSearchResult"></home-randome-area>

    <div class="home-search-area col-md-12 col-xs-12">

        <div class="search-fields col-md-12 col-xs-12">

            <div class="title col-md-12 col-xs-12">Search</div>

            <div class="col-md-12 col-sm-12 col-xs-12 ">
               
                <div class="col-md-3 col-sm-12 col-xs-12 search-field">
                    <span class="col-xs-12 col-sm-12 col-md-12">Name: </span>
                    <div class="col-xs-12 col-sm-12 col-md-12"><input  type="text" ng-model="HomeCtrl.searchName"/></div>
                </div>
                
                <div class="col-md-3 col-sm-12 col-xs-12 col-md-offset-1 search-field" >
                    <span class="col-md-12 col-xs-12 col-sm-12">Type:</span>
                    <div class="  col-md-12 col-xs-12 col-sm-12">
                        <div class="col-md-12 col-xs-12 col-sm-12 search-fields-radio">
                            <input class="col-md-1" type="radio" ng-model="HomeCtrl.searchType" value="beer" /><span class="col-md-4" >Beer</span>
                            <input class="col-md-1" type="radio" ng-model="HomeCtrl.searchType" value="brewery"/><span class="col-md-4">Brewery</span>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-12 col-md-offset-1 col-xs-12 search-field " ng-if="HomeCtrl.searchType === 'beer'">
                    <span class="col-xs-12 col-sm-12 col-md-12">Order By:</span>
                    <div class="col-xs-12 col-sm-12 col-md-12">
                        <select class="col-xs-12 col-sm-12 col-md-12" name="singleSelect" ng-model="HomeCtrl.sortOptions" >
                            <option value="name" selected>Name</option>
                            <option value="abv">Alcohol Percentage</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12 col-xs-12" >
            <search-result ng-if="HomeCtrl.searchType === 'beer'" ng-repeat="beer in HomeCtrl.breweryBeers|orderBy:HomeCtrl.sortOptions|filter:{name:HomeCtrl.searchName}" beer="beer"></search-result>
            <brewery-result ng-if="HomeCtrl.searchType === 'brewery'" ng-repeat="brewery in HomeCtrl.brewerySet|filter:{name:HomeCtrl.searchName}" brewery="brewery"></brewery-result >
        </div>
    </div>

</div>
